{% extends '_layout.' + getConfig('viewExtension') %}
{% block cssExtends %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form id="edit-form" method="post">
                {{ toolbar | safe }}
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Tiêu đề<span class="required">*</span></label>
                                <input class="form-control" name="title" required="required" id="title" value="{{ section.title }}">
                            </div>
                            <div class="form-group">
                                <label>Nội dung hiển thị</label>
                                <textarea class="form-control" name="content" required="required" id="content" >{{ section.content }}
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Môn thi<span class="required">*</span></label>
                                <select class="form-control" name="subject_id" id="subject_id"{% if isUpdate %} disabled{% endif %} required>
                                    <option value="">-- Chọn --</option>
                                    {% for subject in subjects %}
                                    <option value="{{ subject.id }}" {% if subject.id == section.subject_id %} selected="selected" {% endif %}>{{ subject.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Tổng điểm<span class="required">*</span></label>
                                <input class="form-control" name="total_mark" id="total_mark"
                                       value="{% if section.total_mark %}{{ section.total_mark }}{% else %}1{% endif %}" type="number" required min="1"/>
                            </div>
                            <div class="form-group">
                                <label>Tổng số câu hỏi<span class="required">*</span></label>
                                <input class="form-control" name="total_answers" id="total_answers"
                                       value="{% if section.total_answers %}{{ section.total_answers }}{% else %}1{% endif %}" type="number" required min="1"/>
                            </div>
                            <div class="form-group">
                                <label>Có hiển thị nội dung ?</label>
                                <select class="form-control" name="isDisplayContent" id="isDisplayContent">

                                    <option value="0" {% if section.isDisplayContent == false %} selected="selected" {% endif %}>Không hiển thị</option>
                                    <option value="1" {% if section.isDisplayContent == true %} selected="selected" {% endif %}>Có hiển thị</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
{% block jsExtends %}
    <script src="/backend/adminLTE/assets/plugins/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'content', {
            height: 200,
            toolbar : [
                //['Styles','Format','Font','FontSize'],
                ['Bold','Italic','Underline','StrikeThrough','-','Undo','Redo','-','Cut','Copy','Paste','Find','Replace'],
                ['NumberedList','BulletedList','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                ['Image','Table','-','TextColor','BGColor','Source']
            ]
        } );
        if ( CKEDITOR.env.ie && CKEDITOR.env.version == 8 ) {
            document.getElementById( 'ie8-warning' ).className = 'tip alert';
        }
        function deleteRecords() {
            var ids = [];
            $("input:checkbox[name='ids[]']:checked").each(function () {
                ids.push($(this).val());
            });
            $.ajax({
                url: window.location.href,
                type: 'DELETE',
                success: function (result) {
                    //console.log(JSON.stringify(result,2,2));
                    // Do something with the result
                    if(result.error)
                        window.location.href = '{{ baseRoute }}/{{ section.id }}';
                    else
                        window.location.href = '{{ baseRoute }}';
                }
            });
        }
    </script>
{% endblock %}